{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>API Registro IMC</title>
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
</head>

<body style="background-color:#fbbe9a">

      <div class="container mt-5" >
        <div class="jumbotron text-center " style="background-color: #faf5c8">
            <h1 class="display-4">¡Bienvenido a API IMC!</h1>
            <p class="lead">Registra tus datos para obtener tu IMC</p>
            <hr class="my-4 ">
                <p class="text-danger-emphasis"> La API de Registro y Cálculo de Índice de Masa Corporal (IMC) 
                es una potente herramienta diseñada para facilitar el seguimiento 
                de la salud y el bienestar de los usuarios. Permite registrar datos 
                vitales como el nombre del usuario, su peso y su altura, y luego 
                realiza el cálculo del IMC para brindar una medida objetiva de la 
                composición corporal.
                </p>
        </div>
    </div>



    <div class="container-md bg-info-subtle">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Registro de datos</h5>
        <p class="card-text">
          <strong>Nombre:</strong> {{ nombre }}
          <br>
          <strong>Altura:</strong> {{ altura }} metros
          <br>
          <strong>Peso:</strong> {{ peso }} kilogramos
        </p>
      </div>
    </div>
    </div>

    <br/>
   <div class="container-md bg-info p-1 rounded">
    <div class="border border-danger p-2">
        <pre class="bg-danger p-2 rounded"><code>
<strong>Endpoint:</strong>
<strong>POST</strong> https://userimc.onrender.com/api/registrar-usuario/

    Content-Type: application/json
    {
    "username": "Ejemplo Usuario",
    "altura": 1.75,
    "peso": 70.5
    }
        </code></pre>
    </div>
</div>

<br/>
    <div class="container-md bg-info-subtle">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Endpoint para Obtener Usuario por Nombre</h5>
        <p class="card-text">
         El endpoint para obtener un usuario por su nombre proporciona una 
         forma eficiente de recuperar los detalles de un usuario específico 
         utilizando su nombre como identificador. Esta función es útil para acceder a 
         la información de salud de un usuario en particular y realizar consultas personalizadas.
        </p>
      </div>
    </div>
    </div>

    <br/>
   <div class="container-md bg-info p-1 rounded">
    <div class="border border-danger p-2">
        <pre class="bg-danger p-2 rounded"><code>
<strong>Endpoint:</strong>
<strong>GET</strong> https://userimc.onrender.com/api/usuarios/{Nombre}

Ejemplo de Respuesta Exitosa:

{
    "id": 123,
    "nombre": "Ejemplo Usuario",
    "altura": 1.75,
    "peso": 70.5,
    "imc": 23.0
}
       </code></pre>
    </div>

   </div>


<br/>
    <div class="container-md bg-info-subtle">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Endpoint para Obtener Todos los Registros</h5>
        <p class="card-text">
El endpoint para obtener todos los registros de usuarios brinda una vista 
integral de todos los perfiles de usuarios almacenados en el sistema. Esta 
función es valiosa para el análisis agregado y la revisión general de la 
información de salud de los usuarios.
      </div>
    </div>
    </div>

    <br/>
   <div class="container-md bg-info p-1 rounded">
    <div class="border border-danger p-2">
        <pre class="bg-danger p-2 rounded"><code>
<strong>Endpoint:</strong>
<strong>GET</strong> api/usuarios/

Ejemplo de Respuesta Exitosa:
[
    {
        "id": 1,
        "nombre": "Usuario1",
        "altura": 1.70,
        "peso": 65.5,
        "imc": 22.6
    },
    {
        "id": 2,
        "nombre": "Usuario2",
        "altura": 1.65,
        "peso": 70.0,
        "imc": 25.7
    },
]       </code></pre>
    </div>
</div>



<br/>
    <div class="container-md bg-info-subtle">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Endpoint para Obtener los Registros por ID</h5>
        <p class="card-text">
El endpoint para obtener un usuario por su ID proporciona una manera eficaz 
de acceder a los detalles de un usuario específico utilizando su identificador 
único. Esta función es útil para obtener información detallada 
sobre un usuario en particular y realizar operaciones personalizadas.
      </div>
    </div>
    </div>

    <br/>
   <div class="container-md bg-info p-1 rounded">
    <div class="border border-danger p-2">
        <pre class="bg-danger p-2 rounded"><code>
<strong>Endpoint:</strong>
<strong>GET</strong> https://userimc.onrender.com/api/usuarios/{id}

Ejemplo de Respuesta Exitosa:

{
    "id": 123,
    "nombre": "Ejemplo Usuario",
    "altura": 1.75,
    "peso": 70.5,
    "imc": 23.0
}
       </code></pre>
    </div>
</div>




<br/>
    <div class="container-md bg-info-subtle">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Endpoint para Obtener la Estadística de los Regístros</h5>
        <p class="card-text">

El endpoint para obtener estadísticas de usuarios proporciona una visión 
general del estado de los usuarios registrados en la plataforma. Esta función 
ofrece información clave, como el número total de usuarios registrados, así 
como promedios de IMC, peso y altura.
    </div>
    </div>

    <br/>
   <div class="container-md bg-info p-1 rounded">
    <div class="border border-danger p-2">
        <pre class="bg-danger p-2 rounded"><code>
<strong>Endpoint:</strong>
<strong>GET</strong> https://userimc.onrender.com/api/estadisticas/

Ejemplo de Respuesta Exitosa:
{
    "total_usuarios": 150,
    "promedio_imc": 24.5,
    "promedio_peso": 70.2,
    "promedio_altura": 1.75
}
       </code></pre>
    </div>
</div>



<footer>
    <p>&copy; <span id="current-year"></span> API IMC. Todos los derechos reservados.</p>
</footer>

<script>
    // Obtener el elemento del año actual
    const currentYearElement = document.getElementById("current-year");
    
    // Obtener el año actual
    const currentYear = new Date().getFullYear();
    
    // Establecer el año actual en el elemento
    currentYearElement.textContent = currentYear;
</script>

</body>
</html>

